
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermission</title>
</head>
<body>
    <div> 
        <h1>Ban phai laf tai khoan admin moi vao khu vuc nay!</h1>
    </div>
</body>
</html>
