@{
    var sslogin = Session["login"] as Tieuluan_LTWeb.Models.SessionLogin;
}

@if (sslogin == null)
{
    <li class="nav-item">
        <a class="nav-link" href="/log-in">Log in</a>
    </li>

}
else if (sslogin != null)
{
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Logout", "Login")">Log out</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Hello: @sslogin.name</a>
    </li>
}