
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoPermission</title>
</head>
<body>
    <div><h1 style="color:red">Ban khong phai la admin!</h1></div>
    <div>
        <a href="~/Home/Index">Quay ve trang chu</a>
    </div>
</body>
</html>
