@model Model.Model.Phim
@{
    ViewBag.Title = "XemPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cmt = (IEnumerable<Model.Model.BinhLuan>)ViewBag.Binhluan;
}
<link href="~/Content/css/xemphim.css" rel="stylesheet" />
<div class="container xem-phim">
    <h3>@Model.TenPhim</h3>

    <iframe class="phim-video" src="@Model.Link?autoplay=1"
            title="YouTube video player" frameborder="0" allow="accelerometer;
            autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen allow='autoplay'></iframe>
    <!--
        <a class="btn" style="border-color:#971515" href="/">back</a>
    -->
</div>
<div class="binh-luan">
    <div style="margin: 10px;">
        <h2>Binh luan: </h2>
        @foreach (var item in cmt)
        {
            <h4>@item.TenTaiKhoan</h4>
            <p>@item.NoiDung</p>
        }

    </div>
</div>

