@model Model.Model.Phim
@{
    ViewBag.Title = "XemPhim";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cmt = (IEnumerable<Model.Model.BinhLuan>)ViewBag.Binhluan;
}

<div class="container">
    <h3>@Model.TenPhim</h3>
    <video controls autoplay="autoplay">
        <source  src="@Model.Link" type="video/ogg" />
    </video>
    <div>
        <a class="btn" style="border-color:#971515" href="/">back</a>
    </div>
    
</div>
<div style="margin: 10px;">
    <h2>Binh luan: </h2>
    @foreach (var item in cmt)
    {
        <h4>@item.TenTaiKhoan</h4>
        <p>@item.NoiDung</p>
    }

</div>

